[data-oe-local-overlay-id=oe-power-buttons-overlay] {
    width: auto;

    .power_button {
        border-radius: 6px;
        transition: background-color 0.15s ease, opacity 0.15s ease;

        &:hover {
            background-color: $o-gray-300;
        }

        &:not(:hover) {
            opacity: 0.3;
        }
    }
}
