.o_list_renderer .o_field_EventMailTemplateReferenceField div.o_mail_template_reference_field_icon {
    margin-right: 0.5rem;
    max-width: 1.5rem !important;
    width: 1.5rem !important;
}

.o_field_EventMailTemplateReferenceField .badge {
    border-radius: 10px;
    padding: 0.25em 0.6em;
    font-size: 0.8em;
}
