.oe-collaboration-caret-top-square {
    min-height: 5px;
    min-width: 5px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    position: absolute;
    bottom: 100%;
    left: -4px;
    white-space: nowrap;

    &:hover {
        border-radius: 4px;
        padding: 0.3em 0.6em;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

        &::before {
            content: attr(data-peer-name);
        }
    }
}
