.s_instagram_page {
    div.container-fluid {
        padding: 0;
    }

    img {
        transition: transform 0.15s ease;
        border-radius: 6px;
    }

    a:hover img {
        transform: scale(1.05);
    }
}
