.o-we-tablepicker {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 4px;

    .o-we-row {
        line-height: 0;
    }

    .o-we-cell {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 3px;
        margin-bottom: 3px;
        background-color: $o-gray-200;
        border-radius: 2px;
        transition: background-color 0.15s ease;
        &.active {
            background-color: #6358a5;
        }
    }
}