
.s_mail_features_grid {
    .s_mail_features_grid_content {
        overflow: hidden;
        p {
            margin-bottom: 0;
        }

        border: 1px solid #e8e8e8;
        border-radius: 6px;
        padding: 1em;
    }
    .s_mail_features_grid_icon {
        float: left;
    }
}
