.o-spreadsheet {
    .o-scorecard, .o-gauge-chart {
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .o-sp-badge {
        background-color: #374151C2;
        color: #fff;
        border-radius: 4px;
    }
}

.o-sidePanel {
    --o-spreadsheet-input-border-color: #D8DADD;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);

    .o_input {
        color: #111827;
        border-color: var(--o-spreadsheet-input-border-color);
        border-radius: 4px;
        transition: border-color 0.15s ease, box-shadow 0.15s ease;
        &::placeholder {
            opacity: 0.5;
        }
        &:focus {
            border-color: #6358a5;
            box-shadow: 0 0 0 2px rgba(99, 88, 165, 0.15);
        }
    }

    .o_field_invalid, .o_missing_field{
        .o-input, .o_input {
            border-color: var(--o-input-border-color);
        }
    }

    .o_required_modifier:not(.o_field_invalid):not(.o_missing_field) {
        .o_input {
            border-color: #111827;
        }
    }

    .o_tree_editor_condition {
        flex-wrap: wrap;
    }
}
