.spreadsheet_share_dropdown {
  width: 320px;
  height: 100px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.o-spreadsheet {
  .o-dropdown.o_topbar_share_icon {
    display: block;
  }
}

.o_bottom_sheet .spreadsheet_share_dropdown {
  width: 100%;

  .o_loading_state {
    height: 40px;
  }
}
