.pos-coupon-rewards .coupon-container {
    font-size: 75%;
    border-radius: 6px;
    border: 1px solid rgba(99, 88, 165, 0.2);
    background-color: rgba(99, 88, 165, 0.04);
    transition: background-color 0.15s ease;
}
