.s_masonry_block[data-vcss='001'] .row > div {
    @extend %flex-column-container;
}

.s_masonry_block[data-vcss='001'] .row.o_grid_mode {
    > div.o_grid_item_image {
        --grid-item-padding-y: 0px;
        --grid-item-padding-x: 0px;
    }
}

.s_masonry_block[data-vcss='001'] img {
    transition: box-shadow 0.15s ease, transform 0.15s ease;

    &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
    }
}
