// Sprint 10: modern pill-style file upload progress bar
.o-file-upload-progress-bar-value {
    transition: width 0.25s ease;
    border-right: none;
    border-radius: 100px;
    background-color: $o-brand-primary;
    opacity: 1;
    height: 4px;
}

.o-file-upload-progress-bar-abort {
    padding: 4px;
    color: map-get($theme-colors, 'danger');
    font-size: 16px;
    transition: opacity var(--o-transition-fast);
    &:active {
        opacity: 0.7;
    }
}

div:not(:hover) .o-file-upload-progress-bar-abort {
    display: none;
}
