.o_blockUI {
    cursor: wait;
    z-index: $zindex-popover !important;

    &:not(.o_blockUI_invisible) {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        // Sprint 10: slightly lighter overlay, more modern
        background: rgba(#000, .35);
        color: #fff;
    }
}
