.o_survey_question_view_form .o_form_renderer {

    .o_preview_questions {
        border: 2px solid rgba(99, 88, 165, 0.3);
        border-radius: 6px;
        width: auto;
        padding: 10px 20px 10px;
        margin-top: 15px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    }

    .o_preview_questions .o_datetime {
        margin-bottom: 5px;
    }

    .o_preview_questions .o_matrix_head {
        border-bottom: 1px solid #D8D7D7;
    }

    .o_preview_questions .o_matrix_row {
        border-top: 1px solid #D8D7D7;
    }

    .o_preview_questions_choice {
        line-height: 1rem;
    }

    .o_survey_question_validation_parameters {
        > div, input.o_survey_question_validation_inline {
            width: 45% !important;
        }
    }
}
