.o_calendar_sidebar .o_microsoft_sync_button_configured {

    &:hover #microsoft_check {
        display: none;
    }

    &:not(:hover) #microsoft_stop {
        display: none;
    }

    // Smooth icon swap transition
    transition: color 0.15s ease, opacity 0.15s ease;
    border-radius: 4px;
}
