.o_nested_sortable_placeholder {
    background-clip: content-box;
    background-color: #6358a5;
    height: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.o_nested_sortable_placeholder_realsize {
    outline: 1px dashed #6358a5;
    background-color: rgba(99, 88, 165, 0.06);
}
