.o-mail-DiscussNotificationSettings button {
    border-radius: 4px;
    transition: background-color 0.15s ease;

    &.o-selected {
        background-color: var(--mail-DiscussNotificationSettings-btnSelectedBg, $gray-200);
    }
}
