.o_actionswiper {
    position: relative;
    touch-action: pan-y;
}
.o_actionswiper_target_container {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.o_actionswiper_swiping {
    transition: none;
}
.o_actionswiper_right_swipe_area {
    /*rtl:ignore*/
    transform: translateX(-100%);
    inset: 0 auto auto 0;
    border-radius: $border-radius;
}
.o_actionswiper_left_swipe_area {
    /*rtl:ignore*/
    transform: translateX(100%);
    inset: 0 0 auto auto;
    border-radius: $border-radius;
}
