.o-hb-button-group.btn-group {
    flex: 1 1 50%;
    min-width: 0;
    align-items: center;

    > :not(.btn-check:first-child) + .btn,
    .btn-group > .btn-group:not(:first-child) {
        margin-left: calc(var(--border-width) * -1);
    }

    .o-hb-btn {
        flex: 1 1 auto;

        &.active {
            z-index: 2;
        }
    }
}

// Visual polish: rounded button group
.o-hb-button-group.btn-group {
    border-radius: 6px;

    > .o-hb-btn:first-child:not(.dropdown-toggle) {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    > .o-hb-btn:last-child:not(.dropdown-toggle) {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
