.o-livechat-HistoryKanban-body p {
    margin: 0;
}

.o-livechat-HistoryKanban-authorAvatar {
    width: $o-mail-Avatar-size;
    height: $o-mail-Avatar-size;
}

.o-livechat-HistoryKanban {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.o-livechat-MailMessageForm {
    input,
    select,
    textarea {
        border-radius: 6px;
    }
}
