@media print {
    .o_spreadsheet_dashboard_action {
        height: auto;
        .o_spreadsheet_dashboard_search_panel,.o_control_panel {
            display: none !important;
        }
    }

    .o_spreadsheet_dashboard_action table thead th {
        border-bottom: 2px solid #dee2e6;
        font-weight: 600;
    }
}
