.o_widget_account_file_uploader {
  button.oe_kanban_action {
    border-radius: $border-radius;
    transition: box-shadow 0.15s ease;
    a {
      color: var(--btn-color);
    }
    &:hover {
      box-shadow: 0 2px 6px rgba($o-brand-primary, 0.15);
    }
  }

  span:where(:has(.file_upload_kanban_action_a)) {
    @include o-kanban-dashboard-dropdown-link($link-padding-gap: $o-kanban-dashboard-dropdown-complex-gap);
  }
}
