.o-overlay-item:has(.o-mail-RecipientsInputTagsListPopover) {
    z-index: $zindex-modal;

    .o-mail-RecipientsInputTagsListPopover {
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
        overflow: hidden;
    }
}
