.o_mail_server_configurator_selection_test_connection {
    border-radius: 4px;
    transition: background-color 0.15s ease, box-shadow 0.15s ease;

    &:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    // Change the text content when hovering
    &:hover div:nth-child(1) {
        display: none !important;
    }
    &:not(:hover) div:nth-child(2) {
        display: none !important;
    }
}
