.s_dynamic {
  .dynamic_snippet_template .card-footer a, .dynamic_snippet_template .card-footer button, .o_dynamic_snippet_btn_wrapper {
    z-index: 2;
  }

  .s_dynamic_snippet_arrow_bottom {
    > .carousel-control-prev, .carousel-control-next {
      position: relative;
    }
  }

  .dynamic_snippet_template .card {
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    border-radius: 6px;

    &:hover {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
  }
}

.s_dynamic_snippet_title_aside + .s_dynamic_snippet_content {
    width: 75%;
}
