.o-discuss-CallDropdown {
    display: inline-block;
    position: relative;
}

.o-discuss-CallDropdown-content {
    position: fixed;
    z-index: $zindex-popover;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}
