.o-discuss-CallActionList-pulse {
    animation: pulse 1s 10;
}

.o-discuss-CallActionList {
    .btn {
        border-radius: 50%;
        transition: background-color 0.15s ease, box-shadow 0.15s ease;

        &:hover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }
    }
}
