.o-Discuss-CallSettings-thresholdInput {
    &::-moz-range-thumb {
        transition: box-shadow 0.15s ease;
    }
    &:hover::-moz-range-thumb {
        box-shadow: 0 0 0 3px rgba($o-success, 0.2);
    }
    &::-moz-range-track {
        background: linear-gradient(
            to right,
            $o-success 0%,
            $o-success var(--volume),
            $form-range-track-bg var(--volume),
            $form-range-track-bg 100%
        );
    }
    &::-webkit-slider-runnable-track {
        background: linear-gradient(
            to right,
            $o-success 0%,
            $o-success var(--volume),
            $form-range-track-bg var(--volume),
            $form-range-track-bg 100%
        );
    }
}
