.event_template_reference_sms {
    span[role=icon] {
        margin-right: 0.1rem;
    }
    span[role=text] {
        font-size: x-small;
    }

    .badge {
        border-radius: 10px;
        padding: 0.2em 0.5em;
        font-size: 0.8em;
    }
}
