.s_carousel_wrapper:not([data-vcss]) {
    .s_carousel {
        @extend %old_s_carousel_variants;
    }

    .carousel-control-prev,
    .carousel-control-next {
        transition: opacity 0.15s ease;
    }

    .carousel-indicators [data-bs-target] {
        transition: background-color 0.15s ease, transform 0.15s ease;

        &.active {
            background-color: #6358a5;
        }
    }
}
