// ------- Graph renderer -------
.o_graph_view {
    --ControlPanel-border-bottom: none;

    .o_cp_bottom_left {
        display: block;
    }

    :not(.o-dashboard-action) > & .o_graph_canvas_container {
        min-height: 50vh;
    }

    // Sprint 9: subtle container card for graph
    .o_graph_canvas_container {
        background: $o-view-background-color;
        border-radius: $border-radius;
        padding: map-get($spacers, 3);
    }
}

// ------- Sample mode -------
.o_graph_view .o_view_sample_data {
    .o_graph_canvas_container {
        @include o-sample-data-disabled;
    }
}
